body {
    background-color: black;
}
:link {
    color: white;
}

.font1{
    font-size:1rem
}

.bg-line {
    min-height: 48px;
    min-width: 40px;
    background-image: url("/images/line_grey.gif");
    background-repeat: repeat;
    background-size: cover;
}
.bg-line-top {
    min-height: 48px;
    min-width: 40px;
    background-image: url("/images/topright_grey.gif");
    background-size: cover;
}
.bg-line-mid {
    min-height: 48px;
    min-width: 40px;
    background-image: url("/images/t_grey.gif");
    background-size: cover;
}
.bg-line-bot {
    min-height: 48px;
    min-width: 40px;
    background-image: url("/images/bottomright_grey.gif");
    background-size: cover;
}

.spell-table{
    font-size: 7pt;
    color: white;
    font-family: Arial, serif;
}

.center {
    text-align: center;
    vertical-align: center;
}

.white {
    color: white;
}

.zeroSpace {
    padding: 0;
    border: 0;
    border-spacing: 0;
}

#spellName {
    font-size: 10pt;
    color: White;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

#pointsRemaining {
    font-family: Arial, serif;
    font-size: 7pt;
    color: White;
    text-align: center;
}

#masteryName {
    color: rgb(255, 165, 0);
    font-size: 14pt;
    font-weight: bold;
}

#attTitle {
    font-weight: bold;
    font-size: 10pt;
}

#health {
    color: red;
    text-align: right;
}

#energy {
    color: lightblue;
    text-align: right;
}

#int {
    color: white;
    text-align: right;
}

#dex {
    color: white;
    text-align: right;
}

#str {
    color: white;
    text-align: right;
}

#pressAdd {
    color: #83DE7F;
    font-size: 8pt;
}

#statsTable {
    border: solid 1px gold;
}

#earth {
    border: solid 1px #222222;
    /*background: url(images/earth_background.jpg) no-repeat;*/
}

#spirit {
    border: solid 1px #222222;
}

#rogue {
    border: solid 1px #222222;
}

#storm {
    border: solid 1px #222222;
}

#nature {
    border: solid 1px #222222;
    /*background: url(images/nature_background.jpg) no-repeat;*/
    width: 250px;
    height: 250px;
}

#hunting {
    border: solid 1px #222222;
}

#defense {
    border: solid 1px #222222;
}

#dream {
    border: solid 1px #222222;

}

#warfare {
    /*background: url(images/warfare_background.jpg) no-repeat;*/
    border: solid 1px #222222;

}

#spells {
    color: White;
    width: 80%;
    font-size: 7pt;
    font-family: Arial, serif;
    padding: 10px;
}

#pageHeader {
    font-family: Arial, serif;
    font-weight: bolder;
    font-size: 15pt;
    color: White;
}

#spellDesc {
    font-size: 8pt;
    color: White;
    font-family: "Times New Roman", Times, serif;
}

#currentSpell {
    font-size: 8pt;
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
}

#nextSpell {
    font-size: 8pt;
    font-family: "Times New Roman", Times, serif;
    color: #A09D98;
}

#spellListingHeader {
    font-size: 10pt;
    color: White;
    font-weight: bold;
    font-family: Arial, serif;
}

#currentRankLevel {
    font-size: 8pt;
    font-family: "Times New Roman", Times, serif;
    color: #ECE89F;
}

#tip {
    width: 300px;
    position: absolute;
    border: 1px solid #CCCC00;
    background-color: black;
    padding: 5px;
    filter: alpha(opacity=90);
    opacity: 0.90;
}

#preReq {
    color: green;
    font-size: 8pt;
    font-family: "Times New Roman", Times, serif;
}

#nextRankLevel {
    font-size: 8pt;
    font-family: "Times New Roman", Times, serif;
    color: #ECE89F;
}

td {
    min-width: 40px;
    min-height: 48px;
    font-size: 7pt;
    color: white;
    font-family: Arial, serif;
}

.b32pt {
    background-color: black;
    color: #555555;
    border-top: 1px solid #CCCC00;
    border-left: 1px solid #CCCC00;
    border-right: 1px solid #CCCC00;
    border-bottom: none;
}

.b24pt {
    background-color: black;
    color: #555555;
    border-left: 1px solid #CCCC00;
    border-right: 1px solid #CCCC00;
    border-top: none;
    border-bottom: none;
}

.b16pt {
    background-color: black;
    color: #555555;
    border-left: 1px solid #CCCC00;
    border-right: 1px solid #CCCC00;
    border-top: none;
    border-bottom: none;
}

.b10pt {
    background-color: black;
    color: #555555;
    border-left: 1px solid #CCCC00;
    border-right: 1px solid #CCCC00;
    border-top: none;
    border-bottom: none;
}

.b4pt {
    background-color: black;
    color: #555555;
    border-left: 1px solid #CCCC00;
    border-right: 1px solid #CCCC00;
    border-top: none;
    border-bottom: none;
}

.b1pt {
    background-color: black;
    border-left: 1px solid #CCCC00;
    border-right: 1px solid #CCCC00;
    border-top: none;
    color: #555555;
}

#button {
}

#skillAdjust {
}

#skillAdjust select {
    background: black;
    color: White;
    border: solid 1px #DDDDDD;
    font-size: 7pt;

}

#masteryHeader {
    display: flex;
    align-items: center;
}

#masteryInfo {
    float: left;
    height: 22px;
    margin-right: 5px;
}

#masterSubInfo {
    font-size: 10px;


}